{% extends "PostitBundle::layout.html.twig" %}

{% block headerTitle %}Post-it list{% endblock %}

{% block main %}
	<div id="postitList"></div>

	<textarea name="" id="" cols="16" rows="5" autofocus maxlength=255></textarea>
	<button id="add">Add post-it</button>
{% endblock %}
