{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
	<header>
		<h1>{% block headerTitle %}{% endblock %}</h1>
	</header>
	<main>
		{% block main %}{% endblock %}
	</main>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
	
{% endblock %}